<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="OutputFolder" value="C:\SQLScripter_OUT"/>
    <add key="ScriptOneFilePerObjectType" value="false"/>
    <add key="ZipFolder" value="false"/>
    <add key="ZipPassword" value=""/>
    <add key="DeleteOutputFolderAfterZip" value="true"/>
    <add key="DaysToKeepFilesInOutputFolder" value="360"/>
  </appSettings>
  
<!--<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup> -->
</configuration>
