<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="OutputFolder" value="c:\sqlscripter_out"/>
    <add key="ScriptOneFilePerObjectType" value="false"/>
    <add key="ZipFolder" value="true"/>
    <add key="ZipPassword" value="a"/>
    <add key="DeleteOutputFolderAfterZip" value="false"/>
    <add key="DaysToKeepFilesInOutputFolder" value="10"/>
  </appSettings>
  
<!--<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup> -->
</configuration>
