<?xml version="1.0" encoding="utf-8"?>

<ArrayOfServerSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 
<ServerSettings>
  <SQLServer>L1000124133</SQLServer>
  <AuthenticationMode>true</AuthenticationMode>
  <SQLUser>sa</SQLUser>
  <SQLPassword></SQLPassword>
  <Databases>DevOpsTest</Databases>
  <ObjectTypes>all</ObjectTypes>
</ServerSettings>

<ServerSettings>
	<SQLServer>server2</SQLServer>
	<AuthenticationMode>true</AuthenticationMode>
	<SQLUser>sa</SQLUser>
	<SQLPassword></SQLPassword>
	<Databases>all</Databases>
	<ObjectTypes>all</ObjectTypes>
</ServerSettings>

<ServerSettings>
	<SQLServer>server3</SQLServer>
	<AuthenticationMode>true</AuthenticationMode>
	<SQLUser>sa</SQLUser>
	<SQLPassword></SQLPassword>
	<Databases>all</Databases>
	<ObjectTypes>all</ObjectTypes>
</ServerSettings>
	
</ArrayOfServerSettings>


